<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <path>
        <pid>website/var/system/searchd.pid</pid>
        <log>website/var/log/sphinxsearch_searchd.log</log>
        <querylog>website/var/log/sphinxsearch_query.log</querylog>
        <indexer>/usr/bin/indexer</indexer>
    </path>
    <searchd>
        <port>9312</port>
    </searchd>
    <indexer>
        <period>3600</period>
        <lastrun>0</lastrun>
        <runwithmaintenance></runwithmaintenance>
    </indexer>
    <maxresults>1000</maxresults>
</zend-config>
